name: Tools build CI 

on:

  push:


env:
  FROM_EMAIL: ${{ secrets.FROM_EMAIL }}
  TO_EMAIL: "${{ secrets.TO_EMAIL }}"
  # DEV ONLY #
  # TO_EMAIL: "mquinzin@altair.com"
  MAIL_RELAY: ${{ secrets.MAIL_RELAY }}
  MAIL_CONFIG_FILE: "/etc/mail.rc"
  MAIL_COMMAND: "Mail"

jobs:

  build_userlib_sdk_linuxs:

    if: ${{ github.repository_owner == 'OpenRadioss' }}

    strategy:
      # If one job fails others are canceled
      fail-fast: true
      matrix:
        include:
          - image_name: linux64-rl8.9-bld:intel2025.0.1-impi2021.2-ompi4.1.2-ts11
            precision: dp
            compiler: oneapi
            os: linux64
          - image_name: linux64-rl8.9-bld:intel2025.0.1-impi2021.2-ompi4.1.2-ts11
            precision: sp
            compiler: oneapi
            os: linux64
          - image_name: linuxa64-rl8.9-bld:armfl24.04-ompi4.1.2-ts11
            precision: dp
            compiler: armflang
            os: linuxa64
          - image_name: linuxa64-rl8.9-bld:armfl24.04-ompi4.1.2-ts11
            precision: sp
            compiler: armflang
            os: linuxa64
  
    # DEV ONLY # runs-on: ["${{ matrix.os }}","dev_pmci"] 
    runs-on: ["${{ matrix.os }}","build","prod"]
    
    container: 
      image: "fr-qafactorydev.europe.altair.com/${{ matrix.image_name }}"
      credentials: 
        username: ${{secrets.DOCKER_REGISTRY_USER}}
        password: ${{secrets.DOCKER_REGISTRY_PASSWD}}
      volumes: 
        - /etc/localtime:/etc/localtime:ro
  
    env:
      STATUS_BUILD: 0

    steps:

      # Set the working (we do this because images are not using the same user, for the moment, this is to prevent permission issues when checking out files and removeing previous ones)
      - name: Set workdir 
        run: |
          echo "WORKDIR=build_root" >> $GITHUB_ENV

      - name: Create branch oriented WS directory & integration WS
        run: |
          echo "Salut"

